body{
    height: 100vh;
    background: #070707;
}
header{
    height: 5vh;
    border-bottom: solid 1px #6E6864;
    color: #9D9F9F;
    position: relative;
}
header h1{
    position: absolute;
    top: -25px;
    
}
header h3{
    position: absolute;
    /* top: 5px; */
    left: 50px;
    top: -15px;
}
header nav ul li{
    list-style: none;
}
header nav ul li:nth-child(1){
    position: absolute;
    top: 5px;
    right: 40%;

}
header nav ul li:nth-child(2){
    position: absolute;
    top: 5px;
    right: 30%;

}
header nav ul li:nth-child(3){
    position: absolute;
    top: 5px;
    right: 20%;

}
header nav ul li:nth-child(4){
    position: absolute;
    top: 5px;
    right: 10%;

}
section{
    position: relative;
    height: 80vh;
}
section h1{
    color: white;
    position: absolute;
    left: 5%;
    top: 40%;
    letter-spacing: 3px;
    word-spacing: 10px;
}
section p{
    color: #AC8059;
    position: absolute;
    left: 5%;
    bottom: 0px;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-transform: capitalize;

}
section div{
    /* height: 80vh;
    width: 20vw; */
    position: relative;
}
section div img:nth-child(1){
    position: absolute;
    left: 15%;
    top: 70px;
    height: 80vh;
    width: 20vw;
}
section div img:nth-of-type(2){
    position: absolute;
    left: 40%;
    top: 70px;
    height: 80vh;
    width: 20vw;
}
section div img:nth-of-type(3){
    position: absolute;
    right: 15%;
    top: 70px;
    height: 80vh;
    width: 20vw;
}
footer{
    height: 20vh;
    position: relative;
    left: 1%;
    bottom: -30%;
    word-spacing: 30px;
}
footer a{
    position: relative;
    left: 10%;
    bottom: 10%;
    color: white;
    left: 5%;
    bottom: 5%;
}
footer p:nth-of-type(1){
    border: 3px solid orange;
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 20%;
    bottom: 70%;
    
}
footer p:nth-of-type(2){
    border: 3px solid orange;
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 10%;
    bottom: 70%;
    
}
